$success: #00923f;
$base-font: 18px;

// Utilities

.btn, 
input, 
.form-control {
    border-radius: none !important;
}


.heading-1 {
    font-size: 1.94rem;
    font-weight: 700;
    line-height: 52px;
}

.btn {
    padding: 1rem 2rem;
}
.heading-2 {
    font-weight: 700;
    font-size:  1.5rem;
}

// .heading-2{
//     @extend .heading-1;
//     font-size: 1.5rem;
// }
//  

.title-comp {
    margin: 2rem 0;
    display: flex;
    align-items:center;
    justify-content: center;

    h2{
    width: 100%;
    margin: 0 0.6rem;
    text-align: center;
    }

    .line{
        height: 3px;  
        width: 100%;
    }
}