@import "./variables";

//Header 
header {
    .navbar{
        
        &-brand{
            img{
                width:100%;
                max-width: 3.5rem;
            }
        } 

        .nav {
            &-item {
                margin-left: 0 0.7rem;
            }
           &-link {
                 color: inherit;
                // color: white;
                font-weight: 700;
               &:hover { 
                   color:$success;
                }
                &.active {
                color:$success;
                border-bottom: 2px solid $success;
                }
            }    
        }
    }
}

main.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    .banner{
        flex:1;
        background: url("../assets/bg-1.png") no-repeat;
        background-size: cover;
        display:flex;
        align-items: center;
        background-position: right 0;
    
        .wrapper{
            color: white;
            width: 100%;
            @media screen and (min-width: 768px){
                max-width: 32.3rem;
            }
            &-inner{
                h1{
                    font-size: 4rem;
                    font-weight: 700;
                    margin-bottom:1.5rem;
                }
            }
        }
    }
}   


 















